./erlybet.config
*.beam
priv/json.so
priv/log
priv/states
priv/outcome.conf
deps/*
log/*
erlybet.config
*.DS_Store
*.dump
erl_crash.dump
*~
*.swp
*.swo
ebin/erlybet.app
*.state
*.tmproj
*.#
.rebar
/ebin/
rebar
.idea
*.iml
doc/
.eunit
.tags
errors.txt
